---
layout: default
---

<section id="about" class="hidden-print">
    <div class="container">
        <h3>À propos</h3>
        <p>Passionné par le web depuis l'âge de 10 ans, j'aime jouer avec les dernières nouveautés sur les Internets.</p>
        <p>Je code et déploie des sites statiques / dynamiques / interactifs / applicatifs / innovateurs / etc. en HTML5 / CSS3 / JS / PHP / Ruby on Rails / NodeJS.</p>
        <p class="hidden-print"><a href="#" class="print"><span class="glyphicon glyphicon-print"></span> Imprimer mon CV</a></p>
    </div>
</section>

<section id="portfolio" class="hidden-print">
    <div class="container">
        <h3>Portfolio</h3>
        <ul class="projects-container no-list">
          {% assign sorted_posts = (site.posts | sort: 'order') %}
          {% for post in sorted_posts %}
            <li>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="img-container">
                            {% if post.image.description %}<div class="description">{{ post.image.description }}</div>{% endif %}
                            {% if post.link %}<a href="{{ post.link }}" target="_blank">{% endif %}
                                <img src="{{ post.image.url }}" alt="{{ post.image.alt }}" class="img-responsive">
                            {% if post.link %}</a>{% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>{{ post.title }}</h4>
                        {{ post.content }}
                        {% if post.link %}<p><a href="{{ post.link }}" target="_blank"><span class="glyphicon glyphicon-open"></span> Voir le projet</a></p>{% endif %}
                    </div>
                </div>
            </li>
          {% endfor %}
        </ul>
    </div>
</section>

<section id="history">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Historique</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <h4>Éducation</h4>
                    <ul class="no-list">
                        <li>
                            <b><a href="http://www.etudier.uqam.ca/programme?code=7231" target="_blank">Baccalauréat en communication (médias interactifs)</a></b>
                            <p>Université du Québec à Montréal</p>
                            <p>Baccalauréat de 3 ans</p>
                            <p><em>Automne 2013 - En cours // Diplôme espéré printemps 2016</em></p>
                        </li>
                        <li>
                            <b><a href="http://sat.qc.ca/evenements/mapping-video-madmapper" target="_blank">Mapping Vidéo - MadMapper + Resolume</a></b>
                            <p>Société des Arts Technologiques</p>
                            <p>Formation théorique et pratique de 24 heures</p>
                            <p><em>Novembre 2013 - décembre 2013</em></p>
                        </li>
                        <li>
                            <b><a href="http://www.college-em.qc.ca/campus-de-longueuil/programmes-et-admission/cours-formation-technique-collegial-soins-infirmiers-et-autres/582a1-techniques-dintegration-multimedia" target="_blank">Techniques d'intégration multimédia</a></b>
                            <p>Collège Édouard Montpetit</p>
                            <p>DEC de 3 ans</p>
                            <p><em>Automne 2010 - Gradué printemps 2013</em></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12">
                    <h4>Expérience de travail</h4>
                    <ul class="no-list">
                        <li>
                            <b>Molotov communications alternatives</b>
                            <p>Coopérative de travail</p>
                            <p><a href="http://molotov.ca" target="_blank"><span class="glyphicon glyphicon-open"></span> Site web</a></p>
                            <p><em>Août 2013 - présent</em></p>
                        </li>
                        <li>
                            <b>QuatreCentQuatre</b>
                            <p>Production Web, Mobile</p>
                            <p><a href="http://quatrecentquatre.com" target="_blank"><span class="glyphicon glyphicon-open"></span> Site web</a></p>
                            <p><em>Avril 2013 - Août 2013</em></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>
