<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 hidden-print">
                <h3>Contact</h3>
            </div>
            <div class="col-md-3 col-sm-12">
                <h4 class="hidden-print">Courriel</h4>
                <p><a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></p>
            </div>
            <div class="col-md-3 col-sm-12 hidden-print">
                <h4>Réseaux sociaux / Communautés</h4>
                {% if site.github_username %}<p><a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a></p>{% endif %}
                {% if site.stackoverflow_username %}<p><a href="https://stackoverflow.com/users/{{ site.stackoverflow_user_id }}" target="_blank">StackOverflow</a></p>{% endif %}
                {% if site.facebook_username %}<p><a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">Facebook</a></p>{% endif %}
                {% if site.twitter_username %}<p><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></p>{% endif %}
                {% if site.linkedin_username %}<p><a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a></p>{% endif %}
            </div>
        </div>
        <div class="row hidden-print">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
    </div>
    {% if site.github_username %}
    <div class="github-fork-ribbon-wrapper right-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/{{ site.github_username }}/{{ site.github_username }}.github.io">Fork me on GitHub</a>
        </div>
    </div>
    {% endif %}
</footer>
