<header>
    <div id="wow">
        <div class="veryblack">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="datface-container hidden-print">
                            <div class="datface">
                                <img src="https://graph.facebook.com/{{ site.facebook_user_id }}/picture?width=500&height=500" alt="{{ site.face.name }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ site.name }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{ site.job }}<span> | </span><a href="mailto:{{ site.email }}" class="hidden-print" target="_blank">{{ site.email }}</a></h2>
                        <h2 class="visible-print"><a href="{{ site.url }}">{{ site.clean_url }}</a></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="social-container" class="hidden-print">
                            <div id="fb-like">
                                <div class="fb-like" data-href="{{ site.baseurl }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                            </div>
                            <div id="gh-follow">
                                <a class="github-button" href="https://github.com/{{ site.github_username }}" data-count-href="/{{ site.github_username }}/followers" data-count-api="/users/{{ site.github_username }}#followers" data-count-aria-label="# followers sur GitHub" aria-label="Suivre @{{ site.github_username }} sur GitHub">Suivre</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>