<header>
    <div id="wow">
        <div class="veryblack">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ site.name }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{ site.job }}<span> | </span><a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="fb-like" class="hidden-print">
                            <div class="fb-like" data-href="{{ site.baseurl }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>