<header>
    <div id="wow">
        <div class="veryblack">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="datface-container hidden-print">
                            <div class="datface">
                                <img src="https://gravatar.com/avatar/73bff0f361e318af78b8b5ba7478b3cd?s=200"
                                    alt="{{ site.face.name }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ site.name }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{ site.job }}<span> | </span><a href="mailto:{{ site.email }}" class="hidden-print" target="_blank">{{ site.email }}</a></h2>
                        <h2 class="visible-print"><a href="{{ site.url }}">{{ site.clean_url }}</a></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="social-container" class="hidden-print">
                            <div id="gh-follow">
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button" href="https://github.com/edorgeville" data-show-count="true" aria-label="Follow @edorgeville on GitHub">Follow @edorgeville</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
