


$font-family-headings: 'Raleway', sans-serif;
$font-family: 'Lato', sans-serif;


//Colors
$lightblack: #333;
$black: #111;
$veryblack: #000000;
$superblue: #2C3F50;
$lightwhite: #ddd;
$white: #ffffff;
