


$font-family-headings: 'Roboto Mono', sans-serif;
$font-family: 'Roboto', sans-serif;


//Colors
$lightblack: #333;
$black: #111;
$veryblack: #000000;
$superblue: #2C3F50;
$lightwhite: #ddd;
$white: #ffffff;
